<html> 
    <head> 
        <title>Sidebaes</title>
        <meta name="description" content="">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="/scripts/index.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head> 
    <body>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');


          ga('create', 'UA-87061302-1', 'auto');
          ga('send', 'pageview');
        </script>

        <div class="body">
            <div style="background:white">
            <div class="logo">
                <h1 class="header_text">
                    SIDEBAES
                </h1>
            </div>

        <div class="small_group_container">
          <ul id="smallGroupDirectory">

          <li class="profile_item">
              <div class="profile_container">
                <div>
                  <div class="profile_picture">
                    <img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-1/p480x480/19224811_1476673352375572_2911746460015616468_n.jpg?oh=8650d548470065c4b5a130fcc14b30da&oe=5A423149"/>
                  </div>
                 </div> 

                  <div class="profile_description">
                    <p class="text">
                      Name: Andrea Ye
                    </p>
                    <p class="text">
                      Birthday: 3/30/93
                    </p>
                    <p class="text">
                      Love Languages: Quality Time, Words of Affirmation
                    </p>
                  </div>
              </div>
              <hr/>
            </li>

            <li class="profile_item">
              <div class="profile_container">
                  <div>
                    <div class="profile_picture">
                      <img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/20293132_10103708987541094_3623830558242621774_n.jpg?oh=490191a86bc83d402d2e3a9d374f0918&oe=5A490647"/>
                      </div>
                  </div>

                  <div class="profile_description">
                    <p class="text">
                      Name: Brian Fang
                    </p>
                    <p class="text">
                      Birthday: 11/10/88
                    </p>
                    <p class="text">
                      Love Languages: Quality Time, Words of Affirmation
                    </p>
                  </div>
              </div>
              <hr/>
            </li>

            <li class="profile_item">
              <div class="profile_container">
                <div>
                  <div class="profile_picture">
                    <img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/156997_10200185076803687_484476962_n.jpg?oh=2695bf99b3971a7439f3567bdff3f7ba&oe=5A530C41"/>
                  </div>
                </div>  

                  <div class="profile_description">
                    <p class="text">
                      Name: Casey Chow
                    </p>
                    <p class="text">
                      Birthday: 10/22/90
                    </p>
                    <p class="text">
                      Love Languages: Quality Time, Acts of Service
                    </p>
                  </div>
              </div>
              <hr/>
            </li>

            <li class="profile_item">
              <div class="profile_container">
                <div>
                  <div class="profile_picture">
                    <img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/18425171_10155241283674085_9223365569371828547_n.jpg?oh=12b87e9c7a943cec08a6bbd1dc33d8b2&oe=5A5B05B8"/>
                  </div>
                </div>

                  <div class="profile_description">
                    <p class="text">
                      Name: Jaime Cheung
                    </p>
                    <p class="text">
                      Birthday: 6/27/93
                    </p>
                    <p class="text">
                      Love Languages: Quality Time, Words of Affirmation
                    </p>
                  </div>
              </div>
              <hr/>
            </li>

            <li class="profile_item">
              <div class="profile_container">
                <div>
                  <div class="profile_picture">
                    <img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/18699892_10105589747488053_4762686581655428773_n.jpg?oh=865175d2ce78bf6d2090a2af1316dd19&oe=5A3E42CE"/>
                  </div>
                </div>

                  <div class="profile_description">
                    <p class="text">
                      Name: Jiin Shin
                    </p>
                    <p class="text">
                      Birthday: 12/21/90
                    </p>
                    <p class="text">
                      Love Languages: -
                    </p>
                  </div>
              </div>
              <hr/>
            </li>

            <li class="profile_item">
              <div class="profile_container">
                <div>
                  <div class="profile_picture">
                    <img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/19059185_1886643938268297_4977672466050677002_n.jpg?oh=4e3c0fbcad75c8a6792f988193054f00&oe=5A566DCF"/>
                  </div>
                </div>

                  <div class="profile_description">
                    <p class="text">
                      Name: Kevin Libertino
                    </p>
                    <p class="text">
                      Birthday: 9/15/93
                    </p>
                    <p class="text">
                      Love Languages: Quality Time, Words of Affirmation
                    </p>
                  </div>
              </div>
              <hr/>
            </li>

            <!-- Rachel -->
            <li class="profile_item">
              <div class="profile_container">
                <div>
                  <div class="profile_picture">
                    <img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/16386861_10105219546528743_8264105819778357641_n.jpg?oh=189b1c17bff4b3b88f4b57798436696b&oe=5A3CCD2F"/>
                  </div>
                </div>

                  <div class="profile_description">
                    <p class="text">
                      Name: Rachel Choi
                    </p>
                    <p class="text">
                      Birthday: 12/5/86
                    </p>
                    <p class="text">
                      Love Languages: Quality Time, Acts of Service
                    </p>
                  </div>
              </div>
              <hr/>
            </li>

            <li class="profile_item">
              <div class="profile_container">
                <div>
                  <div class="profile_picture">
                    <img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/10409621_10104300654540646_2633145105211728791_n.jpg?oh=f4ee6acd1dec7fcccd1dbfcffc9e1ffc&oe=5A57069A"/>
                  </div>
                </div>

                  <div class="profile_description">
                    <p class="text">
                      Name: Steve Noh
                    </p>
                    <p class="text">
                      Birthday: 3/7/86
                    </p>
                    <p class="text">
                      Love Languages: Acts of Service, Quality Time
                    </p>
                  </div>
              </div>
              <hr/>
            </li>

            <li class="profile_item">
              <div class="profile_container">
                <div>
                  <div class="profile_picture">
                    <img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/154559_10152558668915674_7099268289000766748_n.jpg?oh=9291628b982bb6cc77fa53e9469c1a4a&oe=5A552E34"/>
                  </div>
                </div>

                  <div class="profile_description">
                    <p class="text">
                      Name: Tiffany Cheung
                    </p>
                    <p class="text">
                      Birthday: 9/2/91
                    </p>
                    <p class="text">
                      Love Languages: Physical Touch, Acts of Service
                    </p>
                  </div>
              </div>
              <hr/>
            </li>

            <li class="profile_item">
              <div class="profile_container">
                <div>
                  <div class="profile_picture">
                    <img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/21728170_10105979153739803_2637456106865562318_n.jpg?oh=48e2e2a6670d0f1581b0b35c3d4293b1&oe=5A4C3045"/>
                  </div>
                </div>

                  <div class="profile_description">
                    <p class="text">
                      Name: Timothy Lui
                    </p>
                    <p class="text">
                      Birthday: -
                    </p>
                    <p class="text">
                      Love Languages: -`
                    </p>
                  </div>
              </div>
              <hr/>
            </li>

          </ul>

        </div>
    </body> 
</html>