<html> 
    <head> 
        <title>Sidebaes</title>
        <meta name="description" content="">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="/scripts/prayer_request.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/prayer_request.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head> 
    <body>
        <!-- Dummy comment -->
        <div class="body">
            <div style="background:white">
            <div class="logo">
                <h1 class="header_text">
                    SIDEBAES
                </h1>
            </div>

        <div>
           <div class="navigation_bar">
            <a href="/prayerRequest" class="navigation_link">
              <p class="navigation_button" id="home">
                PRAYER REQUESTS
              </p>
            </a> 

            <p class="navigation_button"> | </p>

            <a href="/" class="navigation_link">
              <p class="navigation_button" id="home">
                COMMUNITY
              </p>
           </a> 

            <p class="navigation_button"> | </p>

            <a href="/worship">
              <p class="navigation_button" id="worship">
                WORSHIP
              </p> 
            </a>
          </div>
        </div>

        <div>
          <div class="input">
              <input type="text" class="username" placeholder="Insert your prayer request" autocapitalize="false"></textarea>
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
        </div>

        <div class="prayer_request_container">
          <ul id="prayerRequestList">
          </ul>
        </div>
    </body> 
</html>