<html> 
    <head> 
        <title>Sidebaes</title>
        <meta name="description" content="">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="/scripts/index.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/worship.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head> 
    <body>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');


          ga('create', 'UA-87061302-1', 'auto');
          ga('send', 'pageview');
        </script>

        <!-- Dummy comment -->
        <div class="body">
            <div style="background:white">
              <div class="logo">
              <a href="/">
                  <h1 class="header_text">
                      SIDEBAES
                  </h1>
              </a>
              </div>

            <h2 class="song_title text">
              Great are you Lord
            </h2>

            <p class="text">
              You give life, You are love <br>
              You bring light to the darkness <br>
              You give hope, You restore <br>
              Every heart that is broken <br>
              Great are You, Lord <br>
              <br>
              It's Your breath in our lungs <br>
              So we pour out our praise <br>
              We pour out our praise <br>
              It's Your breath in our lungs <br>
              So we pour out our praise to You only <br>
              <br>
              And all the earth will shout Your praise <br>
              Our hearts will cry, these bones will sing <br>
              Great are You, Lord <br>
            </p>
        </div>
    </body> 
</html>