<html> 
    <head> 
        <title>Sidebaes</title>
        <meta name="description" content="">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="/scripts/index.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/worship.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head> 
    <body>
        <!-- Dummy comment -->
        <div class="body">
            <div style="background:white">
              <div class="logo">
              <a href="/">
                  <h1 class="header_text">
                      SIDEBAES
                  </h1>
              </a>
            </div>

            <div class="navigation_bar">
              <a href="/prayer" class="navigation_link">
                <p class="navigation_button" id="home">
                  PRAYER
                </p>
              </a>

              <p class="navigation_button"> | </p>

              <a href="/" class="navigation_link">
                <p class="navigation_button" id="home">
                  COMMUNITY
                </p>
             </a> 

              <p class="navigation_button"> | </p>

              <a href="/worship">
                <p class="navigation_button" id="worship">
                  WORSHIP
                </p> 
              </a>
            </div>

            <h2 class="song_title text">
              Holy Spirit
            </h2>

            <p class="text">
              There's nothing worth more<br>
              That could ever come close<br>
              No thing can compare<br>
              You're our living hope<br>
              Your presence, Lord<br>
              <br>
              I've tasted and seen<br>
              Of the sweetest of loves<br>
              Where my heart becomes free<br>
              And my shame is undone<br>
              Your presence, Lord<br>
              <br> 
              Holy Spirit, You are welcome here<br>
              Come flood this place and fill the atmosphere<br>
              Your glory, God, is what our hearts long for<br>
              To be overcome by Your presence, Lord<br>
              Your presence, Lord<br>
              <br>
              Let us become more aware of Your presence<br>
              Let us experience the glory of Your goodness<br>
            </p>

            <h2 class="song_title text">
              From the Inside Out
            </h2>

            <p class="text">
              A thousand times I've failed<br>
              Still Your mercy remains<br>
              And should I stumble again<br>
              I'm caught in Your grace<br>
              <br>
              Everlasting<br>
              Your light will shine when all else fades<br>
              Never ending<br>
              Your glory goes beyond all fame<br>
              <br>
              In my heart and my soul<br>
              Lord I give You control<br>
              Consume me from the inside out<br>
              Lord, let justice and praise<br>
              Become my embrace<br>
              To love you from the inside out<br>
              <br>
              Your will above all else<br>
              My purpose remains<br>
              The art of losing myself<br>
              In bringing You praise<br>
              <br>
              Everlasting<br>
              Your light will shine when all else fades<br>
              Never ending<br>
              Your glory goes beyond all fame<br>
              And the cry of my heart<br>
              Is to bring You praise<br>
              From the inside out<br>
              Lord my soul cries out<br>
            </p>
        </div>
    </body> 
</html>