<html> 
    <head> 
        <title>Sidebaes</title>
        <meta name="description" content="">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="/scripts/index.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/worship.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head> 
    <body>
        <!-- Dummy comment -->
        <div class="body">
            <div style="background:white">
              <div class="logo">
              <a href="/">
                  <h1 class="header_text">
                      SIDEBAES
                  </h1>
              </a>
            </div>

            <div class="navigation_bar">
              <a href="/prayer" class="navigation_link">
                <p class="navigation_button" id="home">
                  PRAYER
                </p>
              </a>

              <p class="navigation_button"> | </p>

              <a href="/" class="navigation_link">
                <p class="navigation_button" id="home">
                  COMMUNITY
                </p>
             </a> 

              <p class="navigation_button"> | </p>

              <a href="/worship">
                <p class="navigation_button" id="worship">
                  WORSHIP
                </p> 
              </a>
            </div>

            <h2 class="song_title text">
              Reckless Love
            </h2>

            <p class="text">
              Before I spoke a word, You were singing over me<br/>
              You have been so, so good to me<br/>
              Before I took a breath, You breathed Your life in me<br/>
              You have been so, so kind to me<br/>
              <br/>  
              Oh, the overwhelming, never-ending, reckless love of God<br/>
              Oh, it chases me down, fights ‘til I’m found, leaves the ninety-nine<br/>
              I couldn’t earn it, I don’t deserve it, still You give Yourself away<br/>
              Oh, the overwhelming, never-ending, reckless love of God<br/>
              <br/>
              When I was Your foe, still Your love fought for me<br/>
              You have been so, so good to me<br/>
              When I felt no worth, You paid it all for me<br/>
              You have been so, so kind to me<br/>
              <br/>
              There’s no shadow You won’t light up<br/>
              Mountain You won’t climb up<br/>
              Coming after me<br/>
              There’s no wall You won’t kick down<br/>
              Lie You won’t tear down<br/>
              Coming after me<br/>
            </p>
        </div>
    </body> 
</html>